@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% 15%;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
 }

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo_texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.apresentacao__links_link {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    color: #000000;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.apresentacao__imagem {
    box-sizing: border-box;
    width: 30%;
    border-radius: 10px;
}

@media (max-width: 400px) {
    .apresentacao {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .apresentacao__conteudo{
        width: 380px;
        display: flex;
        flex-direction: column;
        gap: 40px;
     }

     .apresentacao__conteudo__titulo {
        font-size: 36px;
        font-family: 'Krona One', sans-serif;
        text-align: center;
    }
    
    .apresentacao__conteudo_texto {
        text-align: center;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
    }

     .apresentacao__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
    }

    .apresentacao__imagem {
        box-sizing: border-box;
        width: 100%;
        border-radius: 10px;
        margin: 0 0 40px 0;
}